// Use of nesting
.infoBox {
  width: 70%;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  display: grid;
  gap: 0.5rem;

  .button {
    gap: 0.5rem;
    font-size: 1.5rem;
    border-radius: 10px;
    display: inline-block;
    width: 200px;
    padding: 0.8rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-decoration: none;
  }
}