// Use of nesting
.navbar-nav {
    justify-content: space-between;
    width: 100%;

    .right-aligned {
      display: flex;
      justify-content: space-evenly;
      cursor: pointer;
    }

    .headerItem {
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
      }
    
    a {
        text-decoration: none;
        color: inherit;  
    }
}

 

  
  

